* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    background: linear-gradient(#512caf 0%, #7d2bd4 33%, #8b38e4 66%, #01080E 100% );
    /* Deixa o fundo fixo */
    background-attachment: fixed; 
    padding: 5%;
}